#ENVIRONMENT
APP_ENV=qa # qa | prod | dev

### WEB APP CONFIGURATION ###
# WEB APP URL
#WEB_APP_URL=http://localhost/opencart/upload/
#WEB_APP_URL=https://tutorialsninja.com/demo/
WEB_APP_URL=https://awesomeqa.com/ui/

# WEB APP Login Credentials
APP_EMAIL= #Replace with the email address of the user you want to log in as
APP_PASSWORD= #Replace with the password of the user you want to log in as

# PRODUCT DETAILS
PRODUCT_NAME: MacBook
PRODUCT_QUANTITY:1
TOTAL_PRICE:$602.00

### API CONFIGURATION ###
# API BASE URL
API_BASE_URL=
API_USER=
API_PASS=
USER_ID=
PRODUCT_ID=
CART_ID=
LIMIT=
START_DATE=
END_DATE=

# Basic Authentication Credentials if required
#BASIC_AUTH_USERNAME=YOUR_USERNAME
#BASIC_AUTH_PASSWORD=YOUR_PASSWORD

# API Key if required
#API_KEY=YOUR_API_KEY

# Access Token if required
ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjIsInVzZXIiOiJtb3JfMjMxNCIsImlhdCI6MTc5MDI2OTM3M30.BLKy1dVHL0eiOMTYiuzJAR33H3DESvC9wZEaG0aT__c

# OAuth2 Configuration if required
#CLIENT_ID=YOUR_CLIENT_ID
#CLIENT_SECRET=YOUR_CLIENT_SECRET
#AUTHORIZATION_CODE=YOUR_AUTHORIZATION_CODE
#TOKEN_URL=YOUR_TOKEN_URL

# DB Configuration if required
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=openshop
DB_PORT=3306

# ADMIN APP Login Credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=
